

{% block body %}

    <form action="{{ path ('inscription') }}" method="post"  name="form" id="form-register" class="form-horizontal form-bordered form-control-borderless display-none">

        <div class="form-group">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-user"></i></span>
                    <input type="text" id="register-firstname" name="form[username]" class="form-control input-lg" placeholder="nom d'utilisateur" >
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    <input type="password" id="register-password" name="form[password]" class="form-control input-lg" placeholder="mot de passe">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                    <input type="password" id="register-password-verify" name="form[_token]" class="form-control input-lg" placeholder="confirmez le mot de passe">
                </div>
            </div>
        </div>
        <div class="form-group form-actions">
            <div class="col-xs-6">
                <a href="#modal-terms" data-toggle="modal" class="register-terms">Terms</a>
                <label class="switch switch-primary" data-toggle="tooltip" title="Agree to the terms">
                    <input type="checkbox" id="register-terms" name="register-terms">
                    <span></span>
                </label>
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Register Account</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 text-center">
                <small>Do you have an account?</small> <a href="javascript:void(0)" id="link-register"><small>Login</small></a>
            </div>
        </div>
    </form>
{% endblock %}
