{% extends "base.html.twig" %}


{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">.
        .jqstooltip { width: auto !important; height: auto !important; position: absolute;left: 0px;top: 0px;visibility: hidden;background: #000000;color: white
        ;font-size: 11px;text-align: left;white-space: nowrap;padding: 5px;z-index: 10000;}

        .jqsfield { color: white;font: 10px arial, san serif;text-align: left;}
    </style>
{% endblock %}




{% block body %}
    <div id="page-content" style="min-height: 1247px;">
        <!-- Calendar Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-calendar"></i>Calendrier<br><small> Agenda !</small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Components</li>
            <li><a href="">Calendar</a></li>
        </ul>
        <!-- END Calendar Header -->

        <!-- FullCalendar Content -->
        <div class="block block-alt-noborder full">
            <div class="row">
                <div class="col-md-2">
                    <div class="block-section">
                        <!-- Add event functionality (initialized in js/pages/compCalendar.js) -->
                        <form>
                            <div class="input-group">
                                <input type="text" id="add-event" name="add-event" class="form-control" placeholder="ajouter evenement">
                                <div class="input-group-btn">
                                    <button type="submit" id="add-event-btn" class="btn btn-primary"><i class="gi gi-plus"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="block-section">
                        <div class="block-section text-center text-muted">
                            <small><em><i class="fa fa-arrows"></i> glisser dans la calendrier </em></small>
                        </div>
                        <ul class="calendar-events">
                            <li style="background-color: rgb(26, 188, 156); position: relative;" class="ui-draggable ui-draggable-handle">reunion</li>
                            <li style="background-color: rgb(155, 89, 182); position: relative;" class="ui-draggable ui-draggable-handle">congé</li>
                            <li style="background-color: rgb(52, 152, 219); position: relative;" class="ui-draggable ui-draggable-handle">Cinema</li>
                            <li style="background-color: rgb(231, 76, 60); position: relative;" class="ui-draggable ui-draggable-handle">Gym</li>
                            <li style="background-color: rgb(243, 156, 18); position: relative;" class="ui-draggable ui-draggable-handle">Shopping</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    <!-- FullCalendar (initialized in js/pages/compCalendar.js), for more info and examples you can check out http://arshaw.com/fullcalendar/ -->
                    <div id="calendar" class="fc fc-unthemed fc-ltr"><div class="fc-toolbar fc-header-toolbar"><div class="fc-left"><div class="fc-button-group">
                                    <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left">
                                        <span class="fc-icon fc-icon-left-single-arrow"></span>
                                    </button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right">
                                        <span class="fc-icon fc-icon-right-single-arrow">

                                        </span></button></div></div><div class="fc-right">
                                <div class="fc-button-group">
                                    <button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">mois</button>
                                    <button type="button" class="fc-agendaWeek-button fc-button fc-state-default">semaine</button>
                                    <button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">jour</button>
                                </div></div><div class="fc-center"><h2> juin 2020</h2></div><div class="fc-clear">

                            </div></div><div class="fc-view-container" style=""><div class="fc-view fc-month-view fc-basic-view" style="">
                                <table><thead class="fc-head"><tr><td class="fc-head-container fc-widget-header"><div class="fc-row fc-widget-header">
                                                <table><thead><tr><th class="fc-day-header fc-widget-header fc-mon"><span>Lun</span>
                                                        </th><th class="fc-day-header fc-widget-header fc-tue"><span>Mar</span>
                                                        </th><th class="fc-day-header fc-widget-header fc-wed"><span>Mer</span>
                                                        </th><th class="fc-day-header fc-widget-header fc-thu"><span>Jeu</span>
                                                        </th><th class="fc-day-header fc-widget-header fc-fri"><span>Vend</span>
                                                        </th><th class="fc-day-header fc-widget-header fc-sat"><span>Sam</span>
                                                        </th><th class="fc-day-header fc-widget-header fc-sun"><span>Dim</span>
                                                        </th></tr></thead></table></div></td></tr></thead><tbody class="fc-body">
                                    <tr><td class="fc-widget-content"><div class="fc-scroller fc-day-grid-container" style="overflow: hidden; height: 713px;">
                                                <div class="fc-day-grid fc-unselectable"><div class="fc-row fc-week fc-widget-content" style="height: 118px;">
                                                        <div class="fc-bg"><table><tbody><tr>
                                                                    <td class="fc-day fc-widget-content fc-mon fc-past" data-date="2020-06-01"></td>
                                                                    <td class="fc-day fc-widget-content fc-tue fc-past" data-date="2020-06-02">

                                                                    </td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2020-06-03">

                                                                    </td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2020-06-04"></td>
                                                                    <td class="fc-day fc-widget-content fc-fri fc-past" data-date="2020-06-05"></td>
                                                                    <td class="fc-day fc-widget-content fc-sat fc-past" data-date="2020-06-06"></td>
                                                                    <td class="fc-day fc-widget-content fc-sun fc-past" data-date="2020-06-07"></td>
                                                                </tr></tbody></table></div><div class="fc-content-skeleton"><table><thead>
                                                                <tr><td class="fc-day-top fc-mon fc-past" data-date="2020-06-01">
                                                                        <span class="fc-day-number">1</span></td><td class="fc-day-top fc-tue fc-past" data-date="2020-06-02">
                                                                        <span class="fc-day-number">2</span></td><td class="fc-day-top fc-wed fc-past" data-date="2020-06-03">
                                                                        <span class="fc-day-number">3</span></td><td class="fc-day-top fc-thu fc-past" data-date="2020-06-04">
                                                                        <span class="fc-day-number">4</span></td><td class="fc-day-top fc-fri fc-past" data-date="2020-06-05">
                                                                        <span class="fc-day-number">5</span></td><td class="fc-day-top fc-sat fc-past" data-date="2020-06-06">
                                                                        <span class="fc-day-number">6</span></td><td class="fc-day-top fc-sun fc-past" data-date="2020-06-07">
                                                                        <span class="fc-day-number">7</span></td></tr></thead><tbody><tr><td class="fc-event-container">
                                                                        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#9b59b6;border-color:#9b59b6"><div class="fc-content"> </div></a></td><td></td><td class="fc-event-container">
                                                                        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                            <div class="fc-content"> </div>
                                                                        </a></td><td class="fc-event-container" colspan="4">
                                                                        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#1abc9c;border-color:#1abc9c">
                                                                            <div class="fc-content"> </div></a>
                                                                        </td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 118px;">
                                                                       <div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2020-06-08"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2020-06-09"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2020-06-10"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2020-06-11"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2020-06-12"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2020-06-13"></td><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2020-06-14"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-mon fc-past" data-date="2020-06-08"><span class="fc-day-number">8</span></td><td class="fc-day-top fc-tue fc-past" data-date="2020-06-09"><span class="fc-day-number">9</span></td><td class="fc-day-top fc-wed fc-past" data-date="2020-06-10"><span class="fc-day-number">10</span></td><td class="fc-day-top fc-thu fc-past" data-date="2020-06-11"><span class="fc-day-number">11</span></td><td class="fc-day-top fc-fri fc-past" data-date="2020-06-12"><span class="fc-day-number">12</span></td><td class="fc-day-top fc-sat fc-past" data-date="2020-06-13"><span class="fc-day-number">13</span></td><td class="fc-day-top fc-sun fc-past" data-date="2020-06-14"><span class="fc-day-number">14</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 118px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2020-06-15"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2020-06-16"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2020-06-17"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2020-06-18"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2020-06-19"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2020-06-20"></td><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2020-06-21"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-mon fc-past" data-date="2020-06-15"><span class="fc-day-number">15</span></td><td class="fc-day-top fc-tue fc-past" data-date="2020-06-16"><span class="fc-day-number">16</span></td><td class="fc-day-top fc-wed fc-past" data-date="2020-06-17"><span class="fc-day-number">17</span></td><td class="fc-day-top fc-thu fc-past" data-date="2020-06-18"><span class="fc-day-number">18</span></td><td class="fc-day-top fc-fri fc-past" data-date="2020-06-19"><span class="fc-day-number">19</span></td><td class="fc-day-top fc-sat fc-past" data-date="2020-06-20"><span class="fc-day-number">20</span></td><td class="fc-day-top fc-sun fc-past" data-date="2020-06-21"><span class="fc-day-number">21</span></td></tr></thead><tbody><tr><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable" style="background-color:#3498db;border-color:#3498db"><div class="fc-content"> <span class="fc-title">Book Reading</span></div><div class="fc-resizer fc-end-resizer"></div></a></td><td></td><td></td><td></td><td></td><td class="fc-event-container" colspan="2"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-not-end fc-draggable" href="http://twitter.com/pixelcave" style="background-color:#e74c3c;border-color:#e74c3c"><div class="fc-content"><span class="fc-time">12a</span> <span class="fc-title">Follow me on Twitter</span></div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 118px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2020-06-22"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2020-06-23"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2020-06-24"></td><td class="fc-day fc-widget-content fc-thu fc-today fc-state-highlight" data-date="2020-06-25"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2020-06-26"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2020-06-27"></td><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2020-06-28"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-mon fc-past" data-date="2020-06-22"><span class="fc-day-number">22</span></td><td class="fc-day-top fc-tue fc-past" data-date="2020-06-23"><span class="fc-day-number">23</span></td><td class="fc-day-top fc-wed fc-past" data-date="2020-06-24"><span class="fc-day-number">24</span></td><td class="fc-day-top fc-thu fc-today fc-state-highlight" data-date="2020-06-25"><span class="fc-day-number">25</span></td><td class="fc-day-top fc-fri fc-future" data-date="2020-06-26"><span class="fc-day-number">26</span></td><td class="fc-day-top fc-sat fc-future" data-date="2020-06-27"><span class="fc-day-number">27</span></td><td class="fc-day-top fc-sun fc-future" data-date="2020-06-28"><span class="fc-day-number">28</span></td></tr></thead><tbody><tr><td class="fc-event-container" colspan="2"><a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable" href="http://twitter.com/pixelcave" style="background-color:#e74c3c;border-color:#e74c3c"><div class="fc-content"> </div></a></td><td rowspan="2"></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#d35400;border-color:#d35400"><div class="fc-content"></div></a></td><td rowspan="2"></td><td rowspan="2"></td><td class="fc-event-container" rowspan="2"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content">> </div></a></td></tr><tr><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable">
                                                                            <div class="fc-content">
                                                                                </div></a></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#f39c12;border-color:#f39c12"><div class="fc-content"> <</div></a></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 118px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2020-06-29"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2020-06-30"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2020-07-01"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2020-07-02"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2020-07-03"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2020-07-04"></td><td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2020-07-05"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-mon fc-future" data-date="2020-06-29"><span class="fc-day-number">29</span></td><td class="fc-day-top fc-tue fc-future" data-date="2020-06-30"><span class="fc-day-number">30</span></td><td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2020-07-01"><span class="fc-day-number">1</span></td><td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2020-07-02"><span class="fc-day-number">2</span></td><td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2020-07-03"><span class="fc-day-number">3</span></td><td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2020-07-04"><span class="fc-day-number">4</span></td><td class="fc-day-top fc-sun fc-other-month fc-future" data-date="2020-07-05"><span class="fc-day-number">5</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td class="fc-event-container"><a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable"><div class="fc-content"><span class="fc-time">9p</span> <span class="fc-title">Party</span></div></a></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content" style="height: 123px;"><div class="fc-bg"><table><tbody><tr><td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2020-07-06"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2020-07-07"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2020-07-08"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2020-07-09"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2020-07-10"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2020-07-11"></td><td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2020-07-12"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-mon fc-other-month fc-future" data-date="2020-07-06"><span class="fc-day-number">6</span></td><td class="fc-day-top fc-tue fc-other-month fc-future" data-date="2020-07-07"><span class="fc-day-number">7</span></td><td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2020-07-08"><span class="fc-day-number">8</span></td><td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2020-07-09"><span class="fc-day-number">9</span></td><td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2020-07-10"><span class="fc-day-number">10</span></td><td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2020-07-11"><span class="fc-day-number">11</span></td><td class="fc-day-top fc-sun fc-other-month fc-future" data-date="2020-07-12"><span class="fc-day-number">12</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div></div></div></td></tr></tbody></table></div></div></div>
                </div>
            </div>
        </div>
        <!-- END FullCalendar Block -->
        <!-- END FullCalendar Content -->
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('asset/js/pages/compCalendar.js') }}"></script>
    <script>$(function(){ CompCalendar.init(); });</script>
{% endblock %}
